a{
    color: lightblue;
    text-decoration:none;
}
nav{
    background-color: rgba(177, 13, 253, 0.2);
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}
body{
    margin-left: 15px;
    margin-right: 15px;
    background-color: black;
    background-image: url("/imgs/fondo_negro.jpg");
    color: white;
}
.totalDiv{
    margin-right: auto;
    margin-left: auto;
}
#agujero_negro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 650px;
    max-width: 100%;
}
#img-colision{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 350px;
    max-width: 100%;
}
iframe{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;  
    max-width: 100%;
    
}
form{
    padding: 14px;
    width: 600px;
    border: 1px solid white;
    background-color: rgba(24, 238, 120, 0.1);
}
.form-group{
    width: 100%;
}
@media (max-width: 576px){
    nav{
        padding-right: 5px;
    }
    h1{
        font-size: 33px;
    }
    .img-fluid{
        padding-right: 5px;
    }
    #img-colision{
        max-width: 100%;
        height: auto;
    }
    #agujero_negro
    {   padding-left: 0px;
        padding-right: 0px;
    }
    iframe{
        padding-right: 5px;
    }
}